var/
temp/
bin/
/bin
bin-*/
build
build-*/
cache/
.cache/
.vscode/
.clangd/
data/viewport_dataset_misc/*
data/viewport_manager_misc/*
data/body/*
data/bodymind/models/
doc/
!doc/Doxyfile
!modules/**/doc

Testing/
tests/output/

__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

CMakeUserPresets.json